[Unit]
Description=This services is on charge of uploading the files created by ffmpeg to the bucket
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/observer.sh
User=ubuntu
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

